[package]
name = "lele"
version = "0.1.1"
edition = "2021"

[dependencies]
prost = "0.13"
prost-types = "0.13"
bytes = "1.5"
thiserror = "1.0"
byteorder = "1.5"
rustfft = "6.2"
matrixmultiply = "0.3"
libm = "0.2"

[build-dependencies]
prost-build = "0.13"

[dev-dependencies]
ort = { version = "2.0.0-rc.0", features = ["load-dynamic"] }
approx = "0.5"
anyhow = "1.0"
test-log = "0.2"
env_logger = "0.11"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.149"
regex = "1.10"
unicode-normalization = "0.1"
rand = "0.8"
rand_distr = "0.4"

[[example]]
name = "silero"
path = "examples/silero/main.rs"

[[example]]
name = "sensevoice"
path = "examples/sensevoice/main.rs"

[[example]]
name = "supertonic"
path = "examples/supertonic/main.rs"
